
*{
	box-sizing: border-box;
}

body{
	font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 300;
	color: #fff;
	background: #7f7b7e url(../img/background.jpg) no-repeat center center fixed;	
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
}

h1, h3, h4, time{
	font-family: 'Teko', Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

h1{
	font-size: 120px;
	line-height: 0.9em;
	margin-top: 55px;
}

h2{
	font-size: 26px;
	margin-bottom: 41px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 20px;
	margin-bottom: -10px;
}

a{
	text-decoration: none;
	color: #000;
	transition: all 0.3s ease-out;
}

a:hover{
	color: red;
}

main{
	max-width: 1300px;
	width: 70%;
	margin: 0 auto;
}

.content{
	width: 50%;
}

aside{
	margin-top: 50px;
	margin-bottom: 142px;
}

aside p{
	margin-top: 15px;	
}

aside ul{
	margin-top: 30px;
}

aside ul li{
	position:relative;
	left: 42px;
	margin-bottom: 20px;
}
.copyright{
	font-size: 13px;
	color: #959595;
}

.twitter, .facebook, .linkedin{
	position: relative;
}

.twitter:before, .facebook:before, .linkedin:before{
	content: "\f099";
	position: absolute;
	left: -43px;
	top: 2px;
	width: 28px;
	height: 28px;
	font-family:'FontAwesome';
	font-size: 18px;
}

.facebook:before{
	content: "\f09a";
	top: 0;
}

.linkedin:before{
	content: "\f0e1";
	top: 0;
}


@media screen and (max-width: 768px){
	.content{
		width: 100%;
	}	
}
@media screen and (max-width: 480px){
	h1{
		font-size: 90px;
	}
	h2{
		margin-bottom: 20px;
	}
	h3, aside p, ul li article{
		display: none;
	}
	aside ul li{
		display: inline-block;
		width: 90px;
	}
	aside{
		margin-top: 20px;
	}
	aside ul {
  		margin-left: -20px;	
  	}	

	.twitter:before, .facebook:before, .linkedin:before {
	  left: -24px;
	  top: -1px;
	  width: 28px;
	  height: 28px;
	  font-size: 16px;
	}	
}






