/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2022, 3:03:15 AM
    Author     : ettas
*/
::-webkit-scrollbar { width:0px; height:0px; }
body{
    background: url('../LoginPage/Img_login_bg.jpg') no-repeat center center fixed;
    text-align: center;
}
.cv_tit{
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Julius Sans One', sans-serif;
    cursor: default;
    animation-duration: 1.5s;
    animation-name: ani1;
}
@keyframes ani1 {
    from {
        color:rgba(255, 255, 255, 0);
        margin-left: 5%;
    }
    to {}
  }
  .cv_cb{
    padding: 15px;
    display:inline-block;
    width: 500px;
    height: 550px;
    border-radius: 30px;
    background-color: rgba(36, 36, 36, 0.8);
    box-shadow:0 0 10px gray;
    animation-duration: 1.5s;
    animation-name: ani2;
}
@keyframes ani2 {
    from {
        color:rgba(255, 255, 255, 0);
        background-color:rgba(255, 255, 255, 0);
        margin-left: 5%;
    }
    to {}
  }
.cv_cb_tit{
    margin-bottom: 0px;
    color: white;
    font-size: 28px;
    font-family: 'Julius Sans One', sans-serif;
    cursor: default;
}

.cv_cb_tb{
   
    height: 380px;
    margin-top: 20px;
   
    padding:20px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow-x: hidden;
}
.cv_cb_tb_con{
    border:2px solid black;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.cv_td_head{
    text-align: centre;
    font-size: 18px;
    width:150px;
    height: 70px;
}
.cv_td_con{
    text-align: centre;
    width: 300px;
}
.cv_cb_btn{
    float:right;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    width: 150px;
    height:44px;
    border-radius: 20px;
    border:2px solid green;
    background-color: rgba(36, 36, 36, 0.8);
    color:white;
    margin-top: 10px;
    cursor: pointer;
}
.cv_cb_btnr{
    float:left;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    width: 150px;
    height:44px;
    border-radius: 20px;
    border:2px solid green;
    background-color: rgba(36, 36, 36, 0.8);
    color:white;
    margin-top: 10px;
    cursor: pointer;
}
.cv_cb_btn:hover{
    background-color: rgba(4, 105, 4, 0.466);
}
.cv_cb_btnr:hover{
    background-color: rgba(4, 105, 4, 0.466);
}
.cv_sh_btn{
    width: 70px;
    height: 20px;
    border:0px solid;
    border-radius: 5px;
    background-color: white;
    font-size: 12px;
}

.ea_cb_ip{
    text-align: center;
    width: 250px;
    height:28px;
    border-radius: 20px;
    border:2px solid rgb(1, 72, 204);
    background-color: rgba(36, 36, 36, 0.8);
    color:white;
}
.ea_cb_ip:hover{
    border:2px solid white;
}
.ea_cb_iptit{
    color: white;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 7px;
    margin-top: 15px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 10px;
}
.ea_cb_su{
    float:left;
    color: white;
    font-size: 16px;
    cursor:pointer;
    font-style: italic;
    font-weight: 100;
    text-decoration: underline;
    margin-top: 30px;
    padding-bottom: 20px;
}
.ea_cb_su:hover{
    color:gray;
}

@keyframes ani1 {
    from {
        color:rgba(255, 255, 255, 0);
        margin-left: 5%;
    }
    to {}
  }
.sv_cb{
    display:inline-block;
    width: 400px;
    height: 440px;
    border-radius: 30px;
    background-color: rgba(36, 36, 36, 0.8);
    box-shadow:0 0 10px gray;
    animation-duration: 1.5s;
    animation-name: ani2;
}

.sv_cb_subtit{
    color: white;
    font-size: 15px;
    cursor: default;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 35px;
}
.sv_cb_btn:hover{
    background-color: rgba(4, 105, 4, 0.466);
}
.sv_cb_btn{
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    width: 150px;
    height:44px;
    border-radius: 20px;
    border:2px solid green;
    background-color: rgba(36, 36, 36, 0.8);
    color:white;
    margin-top: 10px;
    cursor: pointer;
}